In [1]:
'''
数据类型概述
int 整型  float 浮点 

'''

'\n数据类型概述\nint 整型  float 浮点 \n\n'

In [2]:
x1 = 10
x2 = 10.0
print(x1,x2)
print(type(x1),type(x2))

10 10.0
<class 'int'> <class 'float'>

In [5]:
#字符串
x3 = 'Hello World'
x4 = "eheh"
x5 = '''a
a
d
f
q
'''

print(x3,x4,x5)
#' '' ''''''

Hello World eheh a
a
d
f
q

In [4]:
print(type(x3))

<class 'str'>

In [8]:
#bool
a = True
b = False

print(a == 1)
print(b == 0)
print(2<3)

True
True

True

In [9]:
#list [] 有顺序的对象 列表

lst = [1,2,3,4,5]
print(lst,type(lst))

[1, 2, 3, 4, 5] <class 'list'>

In [11]:
lst2 = [1,2,3.4,5,'hello',[1,2,3],lst]
print(lst2)

[1, 2, 3.4, 5, 'hello', [1, 2, 3], [1, 2, 3, 4, 5]]

In [12]:
print(lst2[3])

5

In [14]:
print(lst2[4][4])

o

In [15]:
print(lst2[-1][-1])

5

In [17]:
#tuple 
tup = (1,2,3,4,5)
lst = [1,2,3,4,5]
print(lst)
lst[2] = 100
print(lst)

[1, 2, 3, 4, 5]
[1, 2, 100, 4, 5]

In [18]:
print(tup)

(1, 2, 3, 4, 5)

In [20]:
tup[2]

3

In [21]:
tup[2] = 100

TypeError: 'tuple' object does not support item assignment

In [22]:
#dict 字典
dic = {"a":100,'b':340.0}
print(dic,type(dic))

{'a': 100, 'b': 340.0} <class 'dict'>

In [23]:
var1 = 10
print(type(var1))

<class 'int'>

In [24]:
var2 = float(var1)
print(type(var2))

<class 'float'>

In [25]:
var3 = str(var1)
var1+10

20

In [26]:
var2+10

20.0

In [27]:
var3+10

TypeError: can only concatenate str (not "int") to str

In [28]:
var4 = 10.456
var5 = int(var4)
print(var5)

10

In [30]:
#变量
a = 1
a = 2
a

2

In [31]:
b = 10.0
c = '12314'

In [32]:
type(c)

str

In [ ]:
#字母或下划线开头 不能数字开头
#不和功能名字重合，不能空格

In [1]:
a= 1
b = 10.0
name = 'jack'
print(a,b,name)

1 10.0 jack

In [2]:
#运算符#
#算算术运算符

In [13]:
a = 21
b = 10
c = 0

In [15]:
#取模
c = (a//b)
c

2

In [5]:
#取余
c = a%b
c

1

In [6]:
a, b, c = 1,2,3
a

1

In [7]:
print(20//7)

2

In [16]:
True and False

False

In [17]:
True or False

True

In [18]:
not True

False

In [19]:
not False

True

In [20]:
not True and not False

False

In [21]:
not True or not False

True

In [25]:
#in / not in

lst = [1,2,3,4,5]'''
dic = {'a':1, 
        'b':2,
        'c':3
       }
st = 'asbeaad'
print(1 in lst)'''
print('a' in dic)
print('h' in st)

True
True
False

In [28]:
m = []
for i in range(10):
    m.append('h'*i)
#    print(m)
print(m)

['', 'h', 'hh', 'hhh', 'hhhh', 'hhhhh', 'hhhhhh', 'hhhhhhh', 'hhhhhhhh', 'hhhhhhhhh']